@use "../core/breakpoints";

.featured-resource-cards {
  padding-block: var(--module-spacing);
  position: relative;

  .two-column-content-media__image {
    display: block;
    transform: scale(1.2);
  }

  .two-column-content-media {
    @include breakpoints.mq(desktop) {
      align-items: center;
      display: flex;
      justify-content: space-between;

      &.two-column-content-media--inverted {
        flex-direction: row-reverse;
      }
    }
  }

  .two-column-content-media__content {
    @include breakpoints.mq(desktop) {
      inline-size: 47.875%;
    }
  }

  .two-column-content-media__media {
    flex-shrink: 0;
    position: relative;

    @include breakpoints.mq($until: desktop) {
      margin-block-start: 20px;
    }

    @include breakpoints.mq(desktop) {
      inline-size: 47.875%;
    }
  }

  .two-column-content-media__media-inner {
    border-radius: 20px;
    display: block;
    overflow: hidden;

    img {
      block-size: 100%;
      inline-size: 100%;
      object-fit: cover;
    }
  }
}

.featured-resource-cards__heading {
  margin-inline: auto;
  max-inline-size: 1000px;
  padding-inline: var(--container-padding);
  text-align: center;

  @include breakpoints.mq(desktop) {
    margin-block-end: 60px;
  }
}

.featured-resource-cards__card {
  display: block;
  padding-block: 20px;
  padding-inline-end: 60px;
  position: relative;
  text-decoration: none;

  @include breakpoints.mq(desktop) {
    padding-inline-end: 100px;
  }

  @include breakpoints.mq(wide) {
    padding-inline-end: 139px;
  }

  .featured-resource-cards__card-heading {
    color: var(--verndale-black);
  }

  & + .featured-resource-cards__card {
    border-block-start: solid 1px var(--verndale-gray);
  }

  .featured-resource-cards__card-svg {
    block-size: 25px;
    fill: var(--primary-gold);
    inline-size: 25px;
    inset-block-end: 20px;
    inset-inline-end: 0;
    position: absolute;
    scale: 1;

    svg {
      block-size: 100%;
      inline-size: 100%;
    }

    @include breakpoints.mq(desktop) {
      block-size: 20px;
      inline-size: 20px;
    }
  }
}

.featured-resource-cards__card-heading {
  display: block;
  font-size: 18px;
  line-height: 1.33;
  margin-block-end: 5px;
  margin-inline: auto;
  transition: color 0.2s ease-in-out;

  @include breakpoints.mq(desktop) {
    font-size: 20px;
    line-height: 1.2;
  }

  @include breakpoints.mq(wide) {
    font-size: 24px;
    line-height: 1.42;
  }
}

.featured-resource-cards__card-copy {
  color: var(--verndale-black);
  font-size: 14px;
  line-height: 1.43;

  @include breakpoints.mq(desktop) {
    font-size: 15px;
    line-height: 1.4;
  }

  @include breakpoints.mq(wide) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.featured-resource-cards__buttons {
  @include breakpoints.mq(desktop) {
    margin-block-start: 20px;
  }
}
