<section class="masthead">
  <fade-in-up bottom="100px" duration="2.5">
    <slide-out-down scrub class="masthead-background__image-container">
      <img
        style="aspect-ratio: 592/1234; width: 100%;"
        src="images/comp_1-removebg.png"
        srcset="images/comp_1-removebg.png"
        alt=""
        width="592"
        height="1234"
        loading="lazy"
      />
    </slide-out-down>
  </fade-in-up>

  <div class="container">
    <slide-out-down scrub bottom="300px" class="masthead-text__container" style="display:block;">
      <fade-in-down class="masthead-text__containeranimated-opacity" duration="1.5">
        <h1 class="masthead-text">
          VERNDALE
        </h1>
      </fade-in-down>
    </slide-out-down>
  </div>
</section>